.selection-menu {
    position: relative;
    width: 100%
}

@media screen and (max-width:800px) {
    .selection-menu {
        display: none
    }
}

.selection-menu>ul {
    max-width: 100%;
    list-style: none;
    text-align: left;
    margin: 0 auto;
    font-size: 0
}

.selection-menu li {
    text-align: left;
    display: inline-block;
    font-size: 17px
}

.selection-menu a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    width: 100%;
    line-height: 40px;
    min-height: 40px
}

.selection-menu>ul>li>a {
    position: relative;
    z-index: 2
}

.selection-menu>ul>li:hover>ul {
    display: block;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
    border: 1px solid #ccc;
    border-top: 0;
    margin-left: -1px
}

.selection-menu>ul>li:hover>a {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.selection-menu>ul>li.selected a {
    background-color: #fff;
    color: #2c2d30;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.selection-menu ul>li>ul {
    padding: 0;
    position: absolute;
    display: none;
    width: inherit;
    background-color: #fff;
    z-index: 3;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden
}

.selection-menu ul>li>ul>li {
    display: block;
    padding-right: 0
}

.selection-menu ul>li>ul>li>a {
    font-weight: normal;
    font-size: 15px;
    color: #2c2d30;
    text-decoration: none
}

.selection-menu ul>li>ul>li>a:after {
    content: '';
    width: 3px;
    height: 1px
}

.selection-menu ul>li>ul>li>a:hover {
    background-color: #ebf6fd;
    color: #2c2d30;
    font-weight: normal
}

.selection-menu ul>li>ul>li>a:hover:after {
    display: none
}